.envrc

site
dist
build
zensical.toml
docs/api/

*.egg-info
**/__pycache__

.DS_Store

data/offline/
data/online/
.claude/
examples/offline/outputs
ref_offline_outputs/
check_regression.sh
run_all_examples.sh
